# Python
__pycache__/
*.py[cod]
*$py.class
backend/venv/
venv/
.env
.python-version
backend/embeddings/*.faiss
backend/embeddings/*.npy

# Node/React
node_modules/
frontend/node_modules/
dist/
dist-ssr
*.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
